.cart-container{
    display: flex;
    gap:50px;
}
.checkout{
background-color: black;
color: white;
padding: 20px;
}

.checkout p{
    margin:20px;
}

.checkout-details{
    display: flex;

}
.checkout .product-name{

}
.total-price{
    display: flex;
}